* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #333;
}

main {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    color: #333;
    padding: 1.5rem;
    border-radius: 1rem;
    font-size: 3rem;
    font-family: sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.images {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.images img {
    width: 4rem;
}
